@keyframes circle-extra1 {
    0% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    5% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    10% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    15% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    20% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    25% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    30% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    35% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    40% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    45% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    50% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    55% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    60% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
    65% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
      transform: scale(1);
    }
    70% {
        background-color: green;
        top: -40px;
        border: none;
      transform: scale(0);
    }
    75% {
        background-color: green;
        top: -40px;
        border: none;
      transform: scale(1);
    }
    80% {
        background-color: green;
        top: -40px;
        border: none;
      transform: scale(1);
    }
    85% {
        border: none;
        background-color: green;
        top: -40px;
      transform: scale(0);
    }
    90% {
        border: none;
        background-color: green;
        top: -40px;
      transform: scale(0);
    }
    95% {
        background-color: transparent;
        border: none;
        top: -40px;
        transform: scale(0);
    }
    100% {
        background-color: transparent;
        border: 2px gray solid;
        top: -40px;
        transform: scale(0);
    }
  }