@keyframes circle4 {
    0% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);        
    }
    5% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    10% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    15% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    20% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    25% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    30% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    35% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);
    }
    40% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(0);

    }
    45% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(1);
    }
    50% {
        background-color: transparent;
        border: 2px solid gray;
        transform: scale(.5);
    }
    55% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    60% {
        transform: scale(.5);
        background-color: gray;
        border: none;
    }
    65% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    70% {
        transform: scale(.5);
        background-color: gray;
        border: none;
    }
    75% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    80% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    85% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    90% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    95% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
    100% {
        transform: scale(1);
        background-color: gray;
        border: none;
    }
  }