.circle1 {
    animation: circle1 10s ease-in-out infinite;
  }

  @keyframes circle1 {
    0% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    5% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    8.5% {
      background-color: rgb(24, 144, 184);
      transform: scale(1.5);
      left: 0;
      width: 20px;
    }
    // 10% {
    //   background-color: rgb(24, 144, 184);
    //   transform: scale(1.5);
    //   left: 0;
    //   width: 20px;
    // }
    12% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    // 15% {
    //   background-color: rgb(24, 144, 184);
    //   transform: scale(1);
    //   left: 0;
    //   width: 20px;
    // }
    20% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    25% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    28.5% {
      background-color: rgb(24, 144, 184);
      transform: scale(1.5);
      left: 0;
      width: 20px;
    }
    // 30% {
    //   background-color: rgb(24, 144, 184);
    //   transform: scale(1.5);
    //   left: 0;
    //   width: 20px;
    // }
    32% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    // 35% {
    //   background-color: rgb(24, 144, 184);
    //   transform: scale(1);
    //   left: 0;
    //   width: 20px;
    // }
    40% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    45% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    50% {
      background-color: rgb(24, 144, 184);
      transform: scale(.5);
      left: 0;
      width: 20px;
    }
    55% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
    }
    60% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: -40px;
      width: 60px;
    }
    65% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: -40px;
      width: 20px;
    }
    70% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: -40px;
      width: 20px;
    }
    75% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: -40px;
      width: 20px;
    }
    80% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left:  -40px;
      width: 20px;
    }
    85% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left:  -40px;
      width: 60px;
    }
    90% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0px;
      width: 20px;
      border: none;
    }
    95% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      width: 20px;
      border: none;
    }
    100% {
      background-color: rgb(24, 144, 184);
      transform: scale(1);
      left: 0;
      border: none;
      width: 20px;
    }
  }
