.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg,transparent, rgb(247, 247, 247));
}

form{
  padding-top: 10px;
  width: 400px;
  height: 600px;

}
form div{
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  margin-bottom: 10px;
}

fieldset input{
  transition: all .15s;
}

form div input:focus{
 border: 2px solid lightblue;
 border-top: transparent ;
 border-left: transparent;
 border-right: transparent;
 outline: none;
}

form div .error{
  color: red;
  font-size: .8rem;
}

.checkboxGroup div:nth-child(4){
  margin-bottom: 0;
}

.check-group{
  margin-bottom: 0;
}

.check-group legend{
  margin-bottom: 10px;
  padding: 0;
}

.check-group div{
  margin-bottom: 10px;
}

.check-group p{
  margin-top: 0;
}


label{
  margin-bottom: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
